body {
    font-size:9px;
    font-weight:normal;
    font-family: Verdana, sans-serif;
}

.css_right {
    float:right;
}

.container-full {
  margin: 0 auto;
  width: 100%;
}

.form-control {
    height: 25px;
    padding: 6px 6px;
}

.control-label {
    padding-left: 10px;
    padding-right: 0px;
}